<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %><br>
        <!-- Renders Quiz Form -->
        <form id='quiz-form' action='/home/<%= quiz_id %>' method="POST" >
            <% var count = 1 %>            
            <% problems.forEach(problem => { %>

                <!-- Deconstructs the problem -->
                <% const {input_type, question, a, b, c, d, e} = problem %>

                <!-- QUESTION -->
                <label class='quiz-question' for='answer<%= count%>[]' name='question<%= count%>'><%= count %>. <%= question %></label><br>

                <!-- Fill in the Answer -->
                <% if(input_type == 'text'){ %> <!-- Radio -->
                    <input type="text" name='answer<%= count%>[]' style='margin-top: 10px;' size=20 required><br>

                <!-- OR Select Answer(s) -->
                <% } else { %>

                    <!-- Choice A (adding 'required' attribute or not)-->
                    <% if(input_type == 'radio'){ %> <!-- Radio -->
                        <input type="radio" name='answer<%= count%>[]' value="<%= a %>" required><label class='quiz-choice'><%= a %></label><br>
                    <% } else { %><!-- Checkbox -->
                        <input type="checkbox" name='answer<%= count%>[]' value="<%= a %>"><label class='quiz-choice'><%= a %></label><br>
                    <% } %>

                    <!-- Choice B -->
                    <input type="<%= input_type %>" name='answer<%= count%>[]' value="<%= b %>"><label class='quiz-choice' ><%= b %></label><br>

                    <!-- Additional Answer Choices C to E -->
                    <% if(c){%><input type="<%= input_type %>" name='answer<%= count%>[]' value="<%= c %>"><label class='quiz-choice' ><%= c %></label><br><% } %>
                    <% if(d){%><input type="<%= input_type %>" name='answer<%= count%>[]' value="<%= d %>"><label class='quiz-choice' ><%= d %></label><br><% } %>
                    <% if(e){%><input type="<%= input_type %>" name='answer<%= count%>[]' value="<%= e %>"><label class='quiz-choice' ><%= e %></label><br><% } %>
                <% } %>
                <br>
                <% count++ %>
            <% }) %>
            <button onclick='return hasOneCheckedBox(<%= problems.length %>)'>Submit</button>
        </form>

    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

</html>