<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %><br>
        <!-- Renders Quiz Form -->
        <form id='quiz-form' action='/results/<%= quiz_id %>' method="POST">
            <% var count = 1 %>
            <% problems.forEach(problem => { %>
                <label class='quiz-question' for='answer' name='question<%= count%>'><%= problem.question %></label><br>
                <% if(type == 'multiple choice'){ %>
                    <input type="radio" name='answer<%= count%>' value="<%= problem.a %>" required><label class='quiz-choice'><%= problem.a %></label><br>
                    <input type="radio" name='answer<%= count%>' value="<%= problem.b %>" ><label class='quiz-choice'><%= problem.b %></label><br>
                    <input type="radio" name='answer<%= count%>' value="<%= problem.c %>" ><label class='quiz-choice'><%= problem.c %></label><br><br>
                <% } else if(type == 'true or false'){ %>
                    <input class='quiz-choice' type="radio" name='answer<%= count%>' value='True' required><label>True</label><br>
                    <input class='quiz-choice' type="radio" name='answer<%= count%>' value='False' ><label>False</label><br><br>
                <% } else if(type == 'write in'){ %>
                    <label>Answer:</label><input class='quiz-choice' type="text" name='answer<%= count%>' width="100" height="30" required><br><br>
                <% } else { %>

                <% } %>
                <% count += 1 %>
            <% }) %>
            <input type="submit" height="30" width="70" value="Submit">
        </form>

    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>