<html>
    <!-- Head Template-->
    <%- include('../templates/head.ejs') %>

    <body>

        <!-- Navigation Template-->
        <%- include('../templates/nav.ejs') %><br>
 
        <img id='results-img' src="<%= image %>" alt='image not found'>
        <h1 id='score'>Score: <%= correct %>/<%= max_score%></h1>
        <p id='score-message'><%= message %></p>
    </body>

    <!-- Script Template -->
    <%- include('../templates/script.ejs') %>

    <!-- Footer Template-->
    <%- include('../templates/footer.ejs') %>
</html>